node-red/data/.flows.json.backup
[
    {
        "id": "f6f2187d.f17ca8",
        "type": "tab",
        "label": "PLC Connection",
        "disabled": false,
        "info": ""
    },
    {
        "id": "c19fc8a18bff1dd0",
        "type": "tab",
        "label": "Notifications",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "9aedd4bd471b6730",
        "type": "group",
        "z": "f6f2187d.f17ca8",
        "name": "Test write to PLC - Only used for testing",
        "style": {
            "fill": "#ffC000",
            "label": true,
            "color": "#3f3f3f"
        },
        "nodes": [
            "e972a6f1f5d6c9c2",
            "7a694b2e0c11e388",
            "6d459aba11dc9ac1",
            "c1e7a868b1a5cb95",
            "1321532f5c138f71",
            "84d3bced344ddc5f",
            "f870bcce822d86f6",
            "8c45812827f6b882",
            "85158b7770438709",
            "b45ff5b86d50b0c8",
            "beda29b4fe9e8b95",
            "3a6f79386e476011",
            "c2440a8c39835652",
            "ff3f5c4c8ee41af8",
            "b679cbb86b1cea86"
        ],
        "x": 14,
        "y": 19,
        "w": 452,
        "h": 442
    },
    {
        "id": "9f820a4ae6200aba",
        "type": "s7 endpoint",
        "transport": "iso-on-tcp",
        "address": "${PLC_PRIVATE_IP}",
        "port": "${PLC_PORT}",
        "rack": "0",
        "slot": "2",
        "localtsaphi": "02",
        "localtsaplo": "00",
        "remotetsaphi": "02",
        "remotetsaplo": "00",
        "connmode": "rack-slot",
        "adapter": "",
        "busaddr": "2",
        "cycletime": "1000",
        "timeout": "2000",
        "name": "PLC Logo 8V3",
        "vartable": [
            {
                "addr": "DB1,X0.0",
                "name": "R-I1 Bomba 1 On/Off"
            },
            {
                "addr": "DB1,X0.1",
                "name": "R-I2 Bomba 2 On/Off"
            },
            {
                "addr": "DB1,X0.2",
                "name": "R-I3 Modo automatico"
            },
            {
                "addr": "DB1,X0.3",
                "name": "R-I4 Modo manual"
            },
            {
                "addr": "DB1,X0.4",
                "name": "R-I5 Pulso flujometro"
            },
            {
                "addr": "DB1,X0.5",
                "name": "R-I6 Presostato"
            },
            {
                "addr": "DB1,X0.6",
                "name": "R-I7 Falla termica bomba 1"
            },
            {
                "addr": "DB1,X0.7",
                "name": "R-I8 Falla termica bomba 2"
            },
            {
                "addr": "DB1,X1.0",
                "name": "R-Q1 Contactor bomba 1"
            },
            {
                "addr": "DB1,X1.1",
                "name": "R-Q2 Contactor bomba 2"
            },
            {
                "addr": "DB1,X1.2",
                "name": "R-Q3 Descebo bomba 1"
            },
            {
                "addr": "DB1,X1.3",
                "name": "R-Q4 Descebo bomba 2"
            },
            {
                "addr": "DB1,X2.0",
                "name": "W-Q1 Contactor bomba 1"
            },
            {
                "addr": "DB1,X2.1",
                "name": "W-Q2 Contactor bomba 2"
            },
            {
                "addr": "DB1,X2.2",
                "name": "W-Q3 Descebo bomba 1"
            },
            {
                "addr": "DB1,X2.3",
                "name": "W-Q4 Descebo bomba 2"
            },
            {
                "addr": "DB1,X2.4",
                "name": "W-Pulso flujometro"
            },
            {
                "addr": "DB1,WORD3",
                "name": "R-Flujo"
            },
            {
                "addr": "DB1,DWORD5",
                "name": "R-Volumen-m3"
            },
            {
                "addr": "DB1,DWORD9",
                "name": "R-Volumen-100L"
            }
        ]
    },
    {
        "id": "80b99021.9a4",
        "type": "node-red-contrib-whatsapp-cmb-account",
        "name": "PI"
    },
    {
        "id": "b23d8359c5c9ebfb",
        "type": "postgreSQLConfig",
        "name": "Timescale",
        "host": "timescale",
        "hostFieldType": "str",
        "port": "5432",
        "portFieldType": "num",
        "database": "postgres",
        "databaseFieldType": "str",
        "ssl": "false",
        "sslFieldType": "bool",
        "applicationName": "",
        "applicationNameType": "str",
        "max": "10",
        "maxFieldType": "num",
        "idle": "1000",
        "idleFieldType": "num",
        "connectionTimeout": "10000",
        "connectionTimeoutFieldType": "num",
        "user": "POSTGRES_USERNAME",
        "userFieldType": "env",
        "password": "POSTGRES_PASSWORD",
        "passwordFieldType": "env"
    },
    {
        "id": "22d655552657cf36",
        "type": "soap-config-plus",
        "wsdl": "https://snia.mop.gob.cl/controlextraccion/wsdl/datosExtraccion/SendDataExtraccionService",
        "auth": "0",
        "user": "",
        "pass": "",
        "key": "",
        "cert": "",
        "token": ""
    },
    {
        "id": "2bfa19bdbbcad994",
        "type": "s7 in",
        "z": "f6f2187d.f17ca8",
        "endpoint": "9f820a4ae6200aba",
        "mode": "single",
        "variable": "R-I1 Bomba 1 On/Off",
        "diff": true,
        "name": "R-I1 Bomba 1 On/Off",
        "x": 140,
        "y": 500,
        "wires": [
            [
                "d843fce6292326d2"
            ]
        ]
    },
    {
        "id": "f5a1496b1f1538b5",
        "type": "s7 in",
        "z": "f6f2187d.f17ca8",
        "endpoint": "9f820a4ae6200aba",
        "mode": "single",
        "variable": "R-I2 Bomba 2 On/Off",
        "diff": true,
        "name": "R-I2 Bomba 2 On/Off",
        "x": 140,
        "y": 560,
        "wires": [
            [
                "4224d753ab9bdffa"
            ]
        ]
    },
    {
        "id": "92edb2e359363f90",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 740,
        "y": 500,
        "wires": []
    },
    {
        "id": "e972a6f1f5d6c9c2",
        "type": "s7 out",
        "z": "f6f2187d.f17ca8",
        "g": "9aedd4bd471b6730",
        "endpoint": "9f820a4ae6200aba",
        "variable": "W-Q1 Contactor bomba 1",
        "name": "W-Q1 Contactor bomba 1",
        "x": 330,
        "y": 60,
        "wires": []
    },
    {
        "id": "7a694b2e0c11e388",
        "type": "s7 out",
        "z": "f6f2187d.f17ca8",
        "g": "9aedd4bd471b6730",
        "endpoint": "9f820a4ae6200aba",
        "variable": "W-Q2 Contactor bomba 2",
        "name": "W-Q2 Contactor bomba 2",
        "x": 330,
        "y": 140,
        "wires": []
    },
    {
        "id": "6d459aba11dc9ac1",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "g": "9aedd4bd471b6730",
        "name": "1",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "0.5",
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 110,
        "y": 60,
        "wires": [
            [
                "e972a6f1f5d6c9c2"
            ]
        ]
    },
    {
        "id": "c1e7a868b1a5cb95",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "g": "9aedd4bd471b6730",
        "name": "0",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "x": 110,
        "y": 100,
        "wires": [
            [
                "e972a6f1f5d6c9c2"
            ]
        ]
    },
    {
        "id": "1321532f5c138f71",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "g": "9aedd4bd471b6730",
        "name": "1",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 110,
        "y": 140,
        "wires": [
            [
                "7a694b2e0c11e388"
            ]
        ]
    },
    {
        "id": "84d3bced344ddc5f",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "g": "9aedd4bd471b6730",
        "name": "0",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "x": 110,
        "y": 180,
        "wires": [
            [
                "7a694b2e0c11e388"
            ]
        ]
    },
    {
        "id": "fbd6fb10ebb4e77f",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "Toggler",
        "func": "let toggle = context.get('toggle') || 0;\n\ncontext.set(\"toggle\", !toggle);\n\nmsg.payload = !toggle;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 720,
        "y": 80,
        "wires": [
            [
                "801304a26341c444"
            ]
        ]
    },
    {
        "id": "801304a26341c444",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "Toggler",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 860,
        "y": 80,
        "wires": []
    },
    {
        "id": "603ffd2ea0bcbf2d",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 570,
        "y": 80,
        "wires": [
            [
                "fbd6fb10ebb4e77f"
            ]
        ]
    },
    {
        "id": "fc54ca9ea0c3a7a7",
        "type": "s7 in",
        "z": "f6f2187d.f17ca8",
        "endpoint": "9f820a4ae6200aba",
        "mode": "single",
        "variable": "R-Volumen-m3",
        "diff": true,
        "name": "R-Volumen m3",
        "x": 160,
        "y": 740,
        "wires": [
            [
                "419508e0091305d8"
            ]
        ]
    },
    {
        "id": "2e864232376cf650",
        "type": "s7 in",
        "z": "f6f2187d.f17ca8",
        "endpoint": "9f820a4ae6200aba",
        "mode": "single",
        "variable": "R-Flujo",
        "diff": true,
        "name": "R-Flujo L/min",
        "x": 170,
        "y": 680,
        "wires": [
            [
                "5a4baefcfe250236"
            ]
        ]
    },
    {
        "id": "f190de448e6fa47d",
        "type": "postgresql",
        "z": "f6f2187d.f17ca8",
        "name": "Insertar flujo - Tabla sensor_log",
        "query": "INSERT INTO sensor_log (time, sensor_id, measurement, status)\n    VALUES (NOW(), 1, {{{ msg.payload }}}, 'activo');",
        "postgreSQLConfig": "b23d8359c5c9ebfb",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 810,
        "y": 680,
        "wires": [
            []
        ]
    },
    {
        "id": "e4bec3a76a413df7",
        "type": "s7 in",
        "z": "f6f2187d.f17ca8",
        "endpoint": "9f820a4ae6200aba",
        "mode": "single",
        "variable": "R-Q1 Contactor bomba 1",
        "diff": true,
        "name": "R-Q1 Contactor bomba 1",
        "x": 130,
        "y": 880,
        "wires": [
            [
                "456ef010663bd89e"
            ]
        ]
    },
    {
        "id": "ec5b8bb2b07517d2",
        "type": "s7 in",
        "z": "f6f2187d.f17ca8",
        "endpoint": "9f820a4ae6200aba",
        "mode": "single",
        "variable": "R-Q2 Contactor bomba 2",
        "diff": true,
        "name": "R-Q2 Contactor bomba 2",
        "x": 130,
        "y": 940,
        "wires": [
            [
                "3fa3a438efece258"
            ]
        ]
    },
    {
        "id": "f870bcce822d86f6",
        "type": "s7 out",
        "z": "f6f2187d.f17ca8",
        "g": "9aedd4bd471b6730",
        "endpoint": "9f820a4ae6200aba",
        "variable": "W-Pulso flujometro",
        "name": "W-Pulso flujometro",
        "x": 310,
        "y": 380,
        "wires": []
    },
    {
        "id": "8c45812827f6b882",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "g": "9aedd4bd471b6730",
        "name": "1",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 110,
        "y": 380,
        "wires": [
            [
                "f870bcce822d86f6"
            ]
        ]
    },
    {
        "id": "85158b7770438709",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "g": "9aedd4bd471b6730",
        "name": "0",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "x": 110,
        "y": 420,
        "wires": [
            [
                "f870bcce822d86f6"
            ]
        ]
    },
    {
        "id": "ea7cce0b31c42e8e",
        "type": "postgresql",
        "z": "f6f2187d.f17ca8",
        "name": "Insertar volumen - Tabla sensor_log",
        "query": "INSERT INTO sensor_log (time, sensor_id, measurement, status)\n    VALUES (NOW(), 2, {{{ msg.payload }}}, 'activo');",
        "postgreSQLConfig": "b23d8359c5c9ebfb",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 820,
        "y": 780,
        "wires": [
            []
        ]
    },
    {
        "id": "a5e8ca678847893b",
        "type": "postgresql",
        "z": "f6f2187d.f17ca8",
        "name": "Insertar estado bomba 1 - Tabla actuator_log",
        "query": "INSERT INTO actuator_log (time, actuator_id, actuator_state, status)\n    VALUES (NOW(), 1, {{{ msg.payload }}}, 'activo');",
        "postgreSQLConfig": "b23d8359c5c9ebfb",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 850,
        "y": 880,
        "wires": [
            []
        ]
    },
    {
        "id": "b0cebffb90e675c8",
        "type": "postgresql",
        "z": "f6f2187d.f17ca8",
        "name": "Insertar estado bomba 2  - Tabla actuator_log",
        "query": "INSERT INTO actuator_log (time, actuator_id, actuator_state, status)\n    VALUES (NOW(), 2, {{{ msg.payload }}}, 'activo');",
        "postgreSQLConfig": "b23d8359c5c9ebfb",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 850,
        "y": 940,
        "wires": [
            []
        ]
    },
    {
        "id": "f71277c148fb3424",
        "type": "postgresql",
        "z": "f6f2187d.f17ca8",
        "name": "Insertar estado presostato - Tabla sensor_log",
        "query": "INSERT INTO sensor_log (time, sensor_id, measurement, status)\n    VALUES (NOW(), 3, {{{ msg.payload }}}, 'activo');",
        "postgreSQLConfig": "b23d8359c5c9ebfb",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 850,
        "y": 620,
        "wires": [
            []
        ]
    },
    {
        "id": "f1578a5592949749",
        "type": "s7 in",
        "z": "f6f2187d.f17ca8",
        "endpoint": "9f820a4ae6200aba",
        "mode": "single",
        "variable": "R-I6 Presostato",
        "diff": true,
        "name": "R-I6 Presostato",
        "x": 160,
        "y": 620,
        "wires": [
            [
                "83cacdf41bfc6702"
            ]
        ]
    },
    {
        "id": "d20933acf80e9cf5",
        "type": "s7 in",
        "z": "f6f2187d.f17ca8",
        "endpoint": "9f820a4ae6200aba",
        "mode": "single",
        "variable": "R-Q3 Descebo bomba 1",
        "diff": true,
        "name": "R-Q3 Descebo bomba 1",
        "x": 130,
        "y": 1000,
        "wires": [
            [
                "98a78b9c0a47453f"
            ]
        ]
    },
    {
        "id": "4c6abcec5ab57d86",
        "type": "s7 in",
        "z": "f6f2187d.f17ca8",
        "endpoint": "9f820a4ae6200aba",
        "mode": "single",
        "variable": "R-Q4 Descebo bomba 2",
        "diff": true,
        "name": "R-Q4 Descebo bomba 2",
        "x": 130,
        "y": 1060,
        "wires": [
            [
                "dad7b6edf8739758"
            ]
        ]
    },
    {
        "id": "d2431ab7a01f32ed",
        "type": "postgresql",
        "z": "f6f2187d.f17ca8",
        "name": "Insertar alerta - Tabla alert_log",
        "query": "INSERT INTO alert_log (time, sensor_id, actuator_id, alert_message)\n    VALUES (NOW(), NULL, {{{msg.actuator_id}}}, '{{{msg.alert_message}}}');",
        "postgreSQLConfig": "b23d8359c5c9ebfb",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 810,
        "y": 1000,
        "wires": [
            []
        ]
    },
    {
        "id": "7b23eb345a75abd6",
        "type": "change",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "true",
                "fromt": "bool",
                "to": "1",
                "tot": "num"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "false",
                "fromt": "bool",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 480,
        "y": 620,
        "wires": [
            [
                "f71277c148fb3424"
            ]
        ]
    },
    {
        "id": "1fafabc798186bc8",
        "type": "s7 in",
        "z": "f6f2187d.f17ca8",
        "endpoint": "9f820a4ae6200aba",
        "mode": "single",
        "variable": "R-I7 Falla termica bomba 1",
        "diff": true,
        "name": "R-I7 Falla termica bomba 1",
        "x": 130,
        "y": 1120,
        "wires": [
            [
                "99d331f8bb834be8"
            ]
        ]
    },
    {
        "id": "04522e460c846207",
        "type": "s7 in",
        "z": "f6f2187d.f17ca8",
        "endpoint": "9f820a4ae6200aba",
        "mode": "single",
        "variable": "R-I8 Falla termica bomba 2",
        "diff": true,
        "name": "R-I8 Falla termica bomba 2",
        "x": 130,
        "y": 1180,
        "wires": [
            [
                "8a60685fce5357a8"
            ]
        ]
    },
    {
        "id": "b45ff5b86d50b0c8",
        "type": "s7 out",
        "z": "f6f2187d.f17ca8",
        "g": "9aedd4bd471b6730",
        "endpoint": "9f820a4ae6200aba",
        "variable": "W-Q3 Descebo bomba 1",
        "name": "W-Q3 Descebo bomba 1",
        "x": 330,
        "y": 220,
        "wires": []
    },
    {
        "id": "beda29b4fe9e8b95",
        "type": "s7 out",
        "z": "f6f2187d.f17ca8",
        "g": "9aedd4bd471b6730",
        "endpoint": "9f820a4ae6200aba",
        "variable": "W-Q4 Descebo bomba 2",
        "name": "W-Q4 Descebo bomba 2",
        "x": 330,
        "y": 300,
        "wires": []
    },
    {
        "id": "3a6f79386e476011",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "g": "9aedd4bd471b6730",
        "name": "1",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 110,
        "y": 220,
        "wires": [
            [
                "b45ff5b86d50b0c8"
            ]
        ]
    },
    {
        "id": "c2440a8c39835652",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "g": "9aedd4bd471b6730",
        "name": "0",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "x": 110,
        "y": 260,
        "wires": [
            [
                "b45ff5b86d50b0c8"
            ]
        ]
    },
    {
        "id": "ff3f5c4c8ee41af8",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "g": "9aedd4bd471b6730",
        "name": "1",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 110,
        "y": 300,
        "wires": [
            [
                "beda29b4fe9e8b95"
            ]
        ]
    },
    {
        "id": "b679cbb86b1cea86",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "g": "9aedd4bd471b6730",
        "name": "0",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "x": 110,
        "y": 340,
        "wires": [
            [
                "beda29b4fe9e8b95"
            ]
        ]
    },
    {
        "id": "efe91050b8b1939b",
        "type": "switch",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 430,
        "y": 1180,
        "wires": [
            [
                "91334c2980e70d2b"
            ],
            []
        ]
    },
    {
        "id": "d9b290fe2697d0aa",
        "type": "switch",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 430,
        "y": 1120,
        "wires": [
            [
                "aa90b1dd3cf2d1e3"
            ],
            []
        ]
    },
    {
        "id": "718f15291eb3cc34",
        "type": "switch",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 430,
        "y": 1060,
        "wires": [
            [
                "82032042c88fc8d5"
            ],
            []
        ]
    },
    {
        "id": "33c3983fc071c9ec",
        "type": "switch",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 430,
        "y": 1000,
        "wires": [
            [
                "d5a70810fe6f354d"
            ],
            []
        ]
    },
    {
        "id": "d5a70810fe6f354d",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "function 1",
        "func": "msg.sensor_id = null;\nmsg.actuator_id = 1;\nmsg.alert_message = 'Descebo bomba 1 rio';\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 1000,
        "wires": [
            [
                "d2431ab7a01f32ed",
                "fce21711086bb35d"
            ]
        ]
    },
    {
        "id": "82032042c88fc8d5",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "function 2",
        "func": "msg.sensor_id = null;\nmsg.actuator_id = 2;\nmsg.alert_message = 'Descebo bomba 2 rio';\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 1060,
        "wires": [
            [
                "d2431ab7a01f32ed",
                "fce21711086bb35d"
            ]
        ]
    },
    {
        "id": "aa90b1dd3cf2d1e3",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "function 3",
        "func": "msg.sensor_id = null;\nmsg.actuator_id = 1;\nmsg.alert_message = 'Falla termica bomba 1 rio';\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 1120,
        "wires": [
            [
                "d2431ab7a01f32ed",
                "fce21711086bb35d"
            ]
        ]
    },
    {
        "id": "91334c2980e70d2b",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "function 4",
        "func": "msg.sensor_id = null;\nmsg.actuator_id = 2;\nmsg.alert_message = 'Falla termica bomba 2 rio';\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 1180,
        "wires": [
            [
                "d2431ab7a01f32ed",
                "fce21711086bb35d"
            ]
        ]
    },
    {
        "id": "0232095f769d9c51",
        "type": "conf ping",
        "z": "f6f2187d.f17ca8",
        "name": "Ping PLC",
        "host": "${PLC_PRIVATE_IP}",
        "timeout": "3",
        "requests": "3",
        "x": 240,
        "y": 1320,
        "wires": [
            [
                "9b391cacec3675a5"
            ]
        ]
    },
    {
        "id": "89fc558bc260a9d6",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "15",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 90,
        "y": 1320,
        "wires": [
            [
                "0232095f769d9c51"
            ]
        ]
    },
    {
        "id": "9b391cacec3675a5",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "Status checker 1",
        "func": "if(msg.payload != false){\n    msg.payload = true;\n    msg.actuator_id = 3;\n    msg.actuator_state = true; // PLC is working\n    msg.status = 'online';\n}\n\nelse if(msg.payload == false){\n    msg.actuator_id = 3;\n    msg.actuator_state = true; // PLC is working\n    msg.status = 'offline';    // Assuming something is wrong with communication, not with PLC\n    msg.alert_message = 'Perdida comunicacion con PLC caseta rio';\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 1320,
        "wires": [
            []
        ]
    },
    {
        "id": "d041b84986b89802",
        "type": "rbe",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "func": "rbei",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 590,
        "y": 1340,
        "wires": [
            [
                "8cf4219a27eea7b5",
                "7a4a8bfab633d13d"
            ]
        ]
    },
    {
        "id": "8cf4219a27eea7b5",
        "type": "switch",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "property": "status",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "offline",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 590,
        "y": 1300,
        "wires": [
            [
                "2faae45e9f697935"
            ]
        ]
    },
    {
        "id": "aeab43d924247d95",
        "type": "status",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "scope": [
            "e972a6f1f5d6c9c2"
        ],
        "x": 80,
        "y": 1360,
        "wires": [
            [
                "5fb634a2da765abf"
            ]
        ]
    },
    {
        "id": "5fb634a2da765abf",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "Status checker 2",
        "func": "let previous_payload = context.get('previous_payload') || false;\nlet status = msg.status.text;\n\n// Check the communication status from the PLC ping.\nif(status == 'online' || status == 'true' || status == 'false'){\n    msg.actuator_id = 3;\n    msg.actuator_state = true; // PLC is working\n    msg.status = 'online';\n    msg.payload = true;\n    //msg.reset = true; // Delete previous message held on delay node if time is less than 5s.\n}\nelse if (status == 'offline'){\n    msg.actuator_id = 3;\n    msg.actuator_state = true; // PLC is working\n    msg.status = 'offline';\n    msg.payload = false;\n    msg.alert_message = 'Perdida comunicacion con PLC caseta rio';\n}\nelse if(status == 'connecting'){\n    msg.actuator_id = 3;\n    msg.actuator_state = true; // PLC is working\n    msg.status = 'connecting';\n    msg.payload = false;\n}\nelse{\n    msg.actuator_id = 3;\n    msg.actuator_state = true; // PLC is working\n    msg.payload = false;\n}\n\nif(previous_payload != msg.payload){\n    context.set('previous_payload', msg.payload);\n    return msg;\n}\nelse{\n    return null;\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 270,
        "y": 1360,
        "wires": [
            [
                "ff0526a7882c54e1"
            ]
        ]
    },
    {
        "id": "49b9802401c46d75",
        "type": "comment",
        "z": "f6f2187d.f17ca8",
        "name": "Check communication between gateway and PLC. Send alert only after x seconds of interruption.",
        "info": "",
        "x": 330,
        "y": 1260,
        "wires": []
    },
    {
        "id": "7a4a8bfab633d13d",
        "type": "postgresql",
        "z": "f6f2187d.f17ca8",
        "name": "Insertar status PLC - Tabla actuator_log",
        "query": "INSERT INTO actuator_log (time, actuator_id, actuator_state, status)\n    VALUES (NOW(), {{{msg.actuator_id}}}, {{{msg.actuator_state}}}, '{{{msg.status}}}');",
        "postgreSQLConfig": "b23d8359c5c9ebfb",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 840,
        "y": 1340,
        "wires": [
            []
        ]
    },
    {
        "id": "2faae45e9f697935",
        "type": "postgresql",
        "z": "f6f2187d.f17ca8",
        "name": "Insertar alerta - Tabla alert_log",
        "query": "INSERT INTO alert_log (time, sensor_id, actuator_id, alert_message)\n    VALUES (NOW(), NULL, {{{msg.actuator_id}}}, '{{{msg.alert_message}}}');",
        "postgreSQLConfig": "b23d8359c5c9ebfb",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 810,
        "y": 1280,
        "wires": [
            []
        ]
    },
    {
        "id": "456ef010663bd89e",
        "type": "rbe",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "func": "rbei",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 310,
        "y": 880,
        "wires": [
            [
                "a5e8ca678847893b"
            ]
        ]
    },
    {
        "id": "3fa3a438efece258",
        "type": "rbe",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "func": "rbei",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 310,
        "y": 940,
        "wires": [
            [
                "b0cebffb90e675c8"
            ]
        ]
    },
    {
        "id": "d843fce6292326d2",
        "type": "rbe",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "func": "rbei",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 310,
        "y": 500,
        "wires": [
            [
                "92edb2e359363f90"
            ]
        ]
    },
    {
        "id": "4224d753ab9bdffa",
        "type": "rbe",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "func": "rbei",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 310,
        "y": 560,
        "wires": [
            [
                "92edb2e359363f90"
            ]
        ]
    },
    {
        "id": "83cacdf41bfc6702",
        "type": "rbe",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "func": "rbei",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 310,
        "y": 620,
        "wires": [
            [
                "7b23eb345a75abd6"
            ]
        ]
    },
    {
        "id": "5a4baefcfe250236",
        "type": "rbe",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 310,
        "y": 680,
        "wires": [
            [
                "f190de448e6fa47d",
                "8c8448af760adcf8"
            ]
        ]
    },
    {
        "id": "6c9da29d426b490e",
        "type": "rbe",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "func": "rbei",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 550,
        "y": 840,
        "wires": [
            [
                "ea7cce0b31c42e8e",
                "8c8448af760adcf8"
            ]
        ]
    },
    {
        "id": "98a78b9c0a47453f",
        "type": "rbe",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "func": "rbei",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 310,
        "y": 1000,
        "wires": [
            [
                "33c3983fc071c9ec"
            ]
        ]
    },
    {
        "id": "dad7b6edf8739758",
        "type": "rbe",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "func": "rbei",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 310,
        "y": 1060,
        "wires": [
            [
                "718f15291eb3cc34"
            ]
        ]
    },
    {
        "id": "99d331f8bb834be8",
        "type": "rbe",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "func": "rbei",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 310,
        "y": 1120,
        "wires": [
            [
                "d9b290fe2697d0aa"
            ]
        ]
    },
    {
        "id": "8a60685fce5357a8",
        "type": "rbe",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "func": "rbei",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 310,
        "y": 1180,
        "wires": [
            [
                "efe91050b8b1939b"
            ]
        ]
    },
    {
        "id": "fce21711086bb35d",
        "type": "link out",
        "z": "f6f2187d.f17ca8",
        "name": "Send Notifications",
        "mode": "link",
        "links": [
            "9ce4b6a8c1e9af2c"
        ],
        "x": 695,
        "y": 1160,
        "wires": []
    },
    {
        "id": "10fa1a6bb78712c4",
        "type": "s7 in",
        "z": "f6f2187d.f17ca8",
        "endpoint": "9f820a4ae6200aba",
        "mode": "single",
        "variable": "R-Volumen-100L",
        "diff": true,
        "name": "R-Volumen 100L",
        "x": 160,
        "y": 800,
        "wires": [
            [
                "34f39b5a54ab12dc"
            ]
        ]
    },
    {
        "id": "8c8448af760adcf8",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "debug 10",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 740,
        "y": 840,
        "wires": []
    },
    {
        "id": "55b8c0f77196eac6",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "RetrieveVolume",
        "func": "// Update context values\n//context.set(msg.topic, msg.payload);\n\n// Get latest context vaues\nlet volume_m3 = flow.get('volume_m3');\nlet volume_100L = flow.get('volume_100L');\n\nlet volume = 0;\n\nif(volume_m3 !== undefined && volume_100L !== undefined){\n    volume = volume_m3 + volume_100L/10;\n    return {payload: volume};\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 840,
        "wires": [
            [
                "6c9da29d426b490e"
            ]
        ]
    },
    {
        "id": "419508e0091305d8",
        "type": "change",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "volume_m3",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 350,
        "y": 740,
        "wires": [
            []
        ]
    },
    {
        "id": "34f39b5a54ab12dc",
        "type": "change",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "volume_100L",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 360,
        "y": 800,
        "wires": [
            []
        ]
    },
    {
        "id": "523005431e25d077",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 230,
        "y": 840,
        "wires": [
            [
                "55b8c0f77196eac6"
            ]
        ]
    },
    {
        "id": "f16690b48d60a7e6",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "RetrieveVolume",
        "func": "// Get the messages by topic\nlet messages = context.get('messages') || {};\n\nif(msg.topic == 'R-Volumen-m3'){\n    messages['R-Volumen-m3'] = msg.payload;\n    context.set('messages', messages);\n}\nif(msg.topic == 'R-Volumen-100L'){\n    messages['R-Volumen-100L'] = msg.payload;\n    context.set('messages', messages);\n}\n\n//context.set('messages', messages);\n\nreturn { payload: context.get('messages') }\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 920,
        "y": 740,
        "wires": [
            []
        ]
    },
    {
        "id": "d23175f90f8a2aa4",
        "type": "delay",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "pauseType": "delay",
        "timeout": "200",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 750,
        "y": 740,
        "wires": [
            [
                "f16690b48d60a7e6"
            ]
        ]
    },
    {
        "id": "ff0526a7882c54e1",
        "type": "trigger",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "op1": "",
        "op2": "",
        "op1type": "nul",
        "op2type": "pay",
        "duration": "60",
        "extend": true,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 450,
        "y": 1360,
        "wires": [
            [
                "d041b84986b89802"
            ]
        ]
    },
    {
        "id": "29e021f3d3756614",
        "type": "delay",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 600,
        "y": 1480,
        "wires": [
            []
        ]
    },
    {
        "id": "b234123a.c95f5",
        "type": "debug",
        "z": "c19fc8a18bff1dd0",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 510,
        "y": 60,
        "wires": []
    },
    {
        "id": "09c5185b84028af8",
        "type": "inject",
        "z": "c19fc8a18bff1dd0",
        "name": "Email test",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "Test subject",
        "payload": "This is a test",
        "payloadType": "str",
        "x": 100,
        "y": 120,
        "wires": [
            [
                "ab24375cb61c90bf"
            ]
        ]
    },
    {
        "id": "ab24375cb61c90bf",
        "type": "e-mail",
        "z": "c19fc8a18bff1dd0",
        "server": "smtp.gmail.com",
        "port": "465",
        "authtype": "BASIC",
        "saslformat": true,
        "token": "oauth2Response.access_token",
        "secure": true,
        "tls": true,
        "name": "philippe.ilharreguy@gmail.com",
        "dname": "PI email",
        "x": 260,
        "y": 120,
        "wires": []
    },
    {
        "id": "9ae215cb4e377e36",
        "type": "debug",
        "z": "c19fc8a18bff1dd0",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 700,
        "y": 240,
        "wires": []
    },
    {
        "id": "68926513297359aa",
        "type": "function",
        "z": "c19fc8a18bff1dd0",
        "name": "GetSOAP",
        "func": "\nlet newmsg = {\n    server: \"https://snia.mop.gob.cl/controlextraccion/wsdl/datosExtraccion/SendDataExtraccionService\",\n    options: {\n        overrideRootElement: {\n            \"namespace\": \"get\",\n            \"xmlnsAttributes\": [{\n                \"name\": \"xmlns:get\",\n                \"value\": \"http://www.mop.cl/controlextraccion/xsd/datosExtraccion/GetDataExtraccionRequest\"\n            }]\n        }\n    },\n    headers: {},\n    payload: {\n            codigoDeLaObra: \"OB-1401-255\",\n            numeroComprobante: \"a337b5d3158d0af71ddec1159d9ca690\"\n    }\n};\n\nreturn newmsg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 260,
        "y": 240,
        "wires": [
            [
                "dd90b7fa6e9340fa"
            ]
        ]
    },
    {
        "id": "67ab826ef7fe7aae",
        "type": "inject",
        "z": "c19fc8a18bff1dd0",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 100,
        "y": 240,
        "wires": [
            [
                "68926513297359aa"
            ]
        ]
    },
    {
        "id": "dd90b7fa6e9340fa",
        "type": "soap request plus",
        "z": "c19fc8a18bff1dd0",
        "name": "",
        "topic": "",
        "wsdl": "22d655552657cf36",
        "method": "getDataExtraccionOp",
        "x": 510,
        "y": 240,
        "wires": [
            [
                "9ae215cb4e377e36"
            ],
            [
                "9ae215cb4e377e36"
            ]
        ]
    },
    {
        "id": "89a9d9dc6ab10b5c",
        "type": "http request",
        "z": "c19fc8a18bff1dd0",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://snia.mop.gob.cl/controlextraccion/datosExtraccion/SendDataExtraccionService",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 430,
        "y": 300,
        "wires": [
            [
                "cb19acad88ea8ad8"
            ]
        ]
    },
    {
        "id": "b5bf5f268a9ed3a7",
        "type": "function",
        "z": "c19fc8a18bff1dd0",
        "name": "PutSOAP",
        "func": "\nmsg.headers = {\n    'Content-Type': 'text/xml;charset=UTF-8',\n    'SOAPAction': 'http://www.mop.cl/controlextraccion/wsdl/datosExtraccion/authSendDataExtraccionOp'\n};\n\nmsg.payload = \n`<soapenv:Envelope xmlns:soapenv=\"http://schemas.xmlsoap.org/soap/envelope/\" xmlns:aut=\"http://www.mop.cl/controlextraccion/xsd/datosExtraccion/AuthSendDataExtraccionRequest\">\n   <soapenv:Header>\n      <aut:authSendDataExtraccionTraza>\n         <aut:codigoDeLaObra>OB-1401-255</aut:codigoDeLaObra>\n         <aut:timeStampOrigen>2024-01-02T14:01:00Z</aut:timeStampOrigen>\n      </aut:authSendDataExtraccionTraza>\n   </soapenv:Header>\n   <soapenv:Body>\n      <aut:authSendDataExtraccionRequest>\n         <aut:authDataUsuario>\n            <aut:idUsuario>\n               <aut:rut>16338539-2</aut:rut>\n            </aut:idUsuario>\n            <aut:password>Ck4k4l40=</aut:password>\n         </aut:authDataUsuario>\n         <!--You have a CHOICE of the next 2 items at this level-->\n         <!--Optional:-->\n         <aut:authDataExtraccionSuperficial>\n            <aut:fechaMedicion>02-01-2024</aut:fechaMedicion>\n            <aut:horaMedicion>14:01:00</aut:horaMedicion>\n            <aut:caudal>10</aut:caudal>\n            <aut:alturaLimnimetrica>1</aut:alturaLimnimetrica>\n         </aut:authDataExtraccionSuperficial>\n      </aut:authSendDataExtraccionRequest>\n   </soapenv:Body>\n</soapenv:Envelope>`;\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 260,
        "y": 300,
        "wires": [
            [
                "89a9d9dc6ab10b5c"
            ]
        ]
    },
    {
        "id": "ed77c53d5e36c072",
        "type": "debug",
        "z": "c19fc8a18bff1dd0",
        "name": "debug 6",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 720,
        "y": 360,
        "wires": []
    },
    {
        "id": "cb19acad88ea8ad8",
        "type": "xml",
        "z": "c19fc8a18bff1dd0",
        "name": "",
        "property": "payload",
        "attr": "",
        "chr": "",
        "x": 570,
        "y": 300,
        "wires": [
            [
                "5ad961939d054b56"
            ]
        ]
    },
    {
        "id": "5ad961939d054b56",
        "type": "function",
        "z": "c19fc8a18bff1dd0",
        "name": "ExtractResponse",
        "func": "let newmsg = {};\n\nnewmsg = msg.payload[\"soapenv:Envelope\"][\"soapenv:Body\"][0][\"authSendDataExtraccionResponse\"][0];\nnewmsg = newmsg[\"status\"][0];\n\nreturn newmsg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 730,
        "y": 300,
        "wires": [
            [
                "ed77c53d5e36c072"
            ]
        ]
    },
    {
        "id": "fcb51e4af2e157b9",
        "type": "node-red-contrib-whatsapp-cmb-send-message",
        "z": "c19fc8a18bff1dd0",
        "name": "",
        "credtype": "account",
        "account": "80b99021.9a4",
        "text": "alert_message",
        "phonenumbervalue": "",
        "apikeyvalue": "",
        "apikeyinputtypemessage": "msg",
        "phonenumberinputtypemessage": "msg",
        "inputtypemessage": "msg",
        "rejectssl": true,
        "x": 320,
        "y": 60,
        "wires": [
            [
                "b234123a.c95f5"
            ]
        ]
    },
    {
        "id": "9ce4b6a8c1e9af2c",
        "type": "link in",
        "z": "c19fc8a18bff1dd0",
        "name": "Receive Notifications",
        "links": [
            "fce21711086bb35d"
        ],
        "x": 175,
        "y": 60,
        "wires": [
            [
                "fcb51e4af2e157b9"
            ]
        ]
    },
    {
        "id": "157118029ffcacde",
        "type": "inject",
        "z": "c19fc8a18bff1dd0",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 100,
        "y": 420,
        "wires": [
            [
                "923a6d21aa518c7a"
            ]
        ]
    },
    {
        "id": "923a6d21aa518c7a",
        "type": "postgresql",
        "z": "c19fc8a18bff1dd0",
        "name": "Query Flujo L/min - Volumen m3",
        "query": "WITH \nsensor1 AS (\n    SELECT time,\n    measurement \n    FROM sensor_log \n    WHERE sensor_id = 1 \n    ORDER BY time DESC \n    LIMIT 1\n),\nsensor2 AS (\n    SELECT measurement \n    FROM sensor_log \n    WHERE sensor_id = 2 \n    ORDER BY time DESC \n    LIMIT 1\n)\nSELECT\n\tsensor1.time as timestamp,\n\tTO_CHAR(sensor1.time, 'DD-MM-YYYY') AS date,\n    TO_CHAR(sensor1.time, 'HH24:MI:SS') AS time,\n    sensor1.measurement AS \"flujo_L_min\", \n    sensor2.measurement AS volumen_m3\nFROM sensor1, sensor2",
        "postgreSQLConfig": "b23d8359c5c9ebfb",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 330,
        "y": 420,
        "wires": [
            [
                "c7ccf197ba79aba1"
            ]
        ]
    },
    {
        "id": "244baeffbb9733b7",
        "type": "inject",
        "z": "c19fc8a18bff1dd0",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 100,
        "y": 300,
        "wires": [
            [
                "b5bf5f268a9ed3a7"
            ]
        ]
    },
    {
        "id": "aa1abbf650e2eec6",
        "type": "http request",
        "z": "c19fc8a18bff1dd0",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://snia.mop.gob.cl/controlextraccion/datosExtraccion/SendDataExtraccionService",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 730,
        "y": 420,
        "wires": [
            [
                "a06a4d89b48eebd0"
            ]
        ]
    },
    {
        "id": "c7ccf197ba79aba1",
        "type": "function",
        "z": "c19fc8a18bff1dd0",
        "name": "PutSOAP",
        "func": "const timestamp = msg.payload[0].timestamp.toISOString().slice(0, 19) + 'Z'; //localDateTimeString = localDateTimeString.timestamp.toISOString().split('.')[0] + 'Z';\nconst options = { timeZone: \"America/Santiago\", hour12: false };\nconst date = msg.payload[0].timestamp.toLocaleDateString(\"en-GB\", options).replaceAll(\"/\", \"-\");\nconst time = msg.payload[0].timestamp.toLocaleTimeString(\"en-GB\", options);\nconst volumen_m3 = msg.payload[0].volumen_m3;\nconst flujo_L_s = (msg.payload[0].flujo_L_min/60).toFixed(2);\n\nmsg.headers = {\n    'Content-Type': 'text/xml;charset=UTF-8',\n    'SOAPAction': 'http://www.mop.cl/controlextraccion/wsdl/datosExtraccion/authSendDataExtraccionOp',\n    'Host': 'snia.mop.gob.cl'\n};\n\nmsg.payload = \n`<soapenv:Envelope xmlns:soapenv=\"http://schemas.xmlsoap.org/soap/envelope/\" xmlns:aut=\"http://www.mop.cl/controlextraccion/xsd/datosExtraccion/AuthSendDataExtraccionRequest\">\n   <soapenv:Header>\n      <aut:authSendDataExtraccionTraza>\n         <aut:codigoDeLaObra>OB-1401-255</aut:codigoDeLaObra>\n         <aut:timeStampOrigen>${timestamp}</aut:timeStampOrigen>\n      </aut:authSendDataExtraccionTraza>\n   </soapenv:Header>\n   <soapenv:Body>\n      <aut:authSendDataExtraccionRequest>\n         <aut:authDataUsuario>\n            <aut:idUsuario>\n               <aut:rut>16338539-2</aut:rut>\n            </aut:idUsuario>\n            <aut:password>MkMKg69nO2</aut:password>\n         </aut:authDataUsuario>\n         <aut:authDataExtraccionSubterranea>\n            <aut:fechaMedicion>${date}</aut:fechaMedicion>\n            <aut:horaMedicion>${time}</aut:horaMedicion>\n            <aut:totalizador>${volumen_m3}</aut:totalizador>\n            <aut:caudal>${flujo_L_s}</aut:caudal>\n            <aut:nivelFreaticoDelPozo>1.0</aut:nivelFreaticoDelPozo>\n         </aut:authDataExtraccionSubterranea>\n      </aut:authSendDataExtraccionRequest>\n   </soapenv:Body>\n</soapenv:Envelope>`;\n\ndelete msg.pgsql;\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 420,
        "wires": [
            [
                "aa1abbf650e2eec6"
            ]
        ]
    },
    {
        "id": "e642b7fafc2293e6",
        "type": "debug",
        "z": "c19fc8a18bff1dd0",
        "name": "debug 8",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 720,
        "y": 480,
        "wires": []
    },
    {
        "id": "a06a4d89b48eebd0",
        "type": "xml",
        "z": "c19fc8a18bff1dd0",
        "name": "",
        "property": "payload",
        "attr": "",
        "chr": "",
        "x": 350,
        "y": 480,
        "wires": [
            [
                "aa3a6b3239d373ef"
            ]
        ]
    },
    {
        "id": "aa3a6b3239d373ef",
        "type": "function",
        "z": "c19fc8a18bff1dd0",
        "name": "ExtractResponse",
        "func": "let newmsg = {};\n\nnewmsg = msg.payload[\"soapenv:Envelope\"][\"soapenv:Body\"][0][\"authSendDataExtraccionResponse\"][0];\nnewmsg = newmsg[\"status\"][0];\n\nreturn newmsg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 480,
        "wires": [
            [
                "e642b7fafc2293e6"
            ]
        ]
    }
]